{
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "<SEPARATOR>",
    ".css$"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
