{
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    ".js$",
    ".jsx$",
    "<SEPARATOR>",
    ".css$",
    "<SEPARATOR>",
    ".png$",
    ".svg$"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
