/* .fedora-header {
  background: radial-gradient(circle at 2.5rem, #51A2DA 32px, #3C6EB4 100%);
}

.pf-v6-c-page {
  background-color: var(--pf-v6-c-page__main-section--BackgroundColor);
}

.pf-v6-c-page > .pf-v6-c-page__main-container {
  height: 100%;
}

.page-container {
  height: 100%;
  justify-content: center;
} */

.page {
  background: radial-gradient(circle at 2.5rem, #51A2DA 32px, #3C6EB4 100%);
}

@media (prefers-color-scheme: dark) {
  .page {
    background: radial-gradient(circle at 2.5rem, #51A2DA 32px, #00356b 100%)
  }
}

.fedora-header {
  background: none;
}

.page > div {
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: calc(48rem - 1px)) {
  .page > div {
    height: 100%;
  }
}
