/* <PageSection /> component displaying the info/error pages */
.page-container {
  padding-bottom: 4em;
}

/* Textarea displaying the error log */
.trace-modal-textarea {
  min-width: 100%;
  max-width: 100%;
  height: 30vh;
  padding: 4px;
  font-family: "monospace";
}

/* Tux ASCII art styles */
.ascii-tux {
  direction: ltr;
  font-weight: bold;
  font-size: 1.3em;
}
